{% extends "base.html" %}
{% load static %}
{% block title %}Email Sent{% endblock %}

{% block main %}
<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url('{% static "img/bg-img/24.jpg" %}');">
        <h2>Email Sent</h2>
    </div>
</div>

<div class="container section-padding-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <div class="contact-form">
                <h5 class="mb-4">Check Your Inbox</h5>
                <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <a href="{% url 'index' %}" class="btn alazea-btn mt-15">Return Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}