{% extends "base.html" %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}

{% block main %}
<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url('{% static "img/bg-img/24.jpg" %}');">
        <h2>Reset Complete</h2>
    </div>
</div>

<div class="container section-padding-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <div class="contact-form">
                <h5 class="mb-4">Password Reset Complete</h5>
                <p>Your password has been set. You may now log in with your new password.</p>
                <a href="{% url 'login_view' %}" class="btn alazea-btn mt-15">Login Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}