{% extends "base.html" %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block main %}
<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg' %});">
        <h2>404 Error</h2>
    </div>
</div>
<div class="container section-padding-100">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
            <div class="error-404-area">
                <h1 style="font-size: 6rem; font-weight: 700;">404</h1>
                <h2 class="mb-4">Oops! Page Not Found</h2>
                <p>We're sorry, but the page you are looking for does not exist. It might have been moved or deleted.</p>
                <a href="{% url 'index' %}" class="btn alazea-btn mt-4">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}